@font-face{
  font-family: water;
  src: url("https://cdn.glitch.global/97f7bbb3-2cd9-4b34-bbf2-d0a28c71f10b/Water%20Park.ttf?v=1738683075854");
}

body {
  background-color: rgb(248, 197, 188);
  text-align: center;
  color: rgb(221, 149, 136);
  margin: auto;
  font-family: water;
}

h1{
  font-size: 30px;
}

#myCanvas {
  background-image: url("https://www.southernliving.com/thmb/CBYldnKXJe_klGEoaMay87gbWFY=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/27355_FredericksburgWildSeeds-22-4a8bd7ee93c749069c82d879c6f53309.jpg");
  background-size: 600px 400px;
  border-radius: 300px;
  border: 5px solid rgb(255, 227, 227);
}



